# remove some sytem forlders and files
.vscode/
.documents/
*.vscode
*.ipynb_checkpoints
.DS_Store
*/.DS_Store
.DS_Store?
__pycache__/
**/__pycache__
__init__.py/
test.py

# ignore data folder 
data/ 
notes/
fits/
figures/
simulations/
analyses/
backup/
03DQN/
04ModelPlan/
05PolicyGradient/

# maske answer 
01_RLintro_answer.ipynb